doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title BMI 
    link(rel="stylesheet", href="/bmi1.css")
  body
    .header
      .wrapper
        h1 BMI
        p Your BMI is: #{bmi}
        a(href="/") click here to do it again
